 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <h1>
        <a asp-action=""> <img width="100" height="100" src="https://icon-library.com/images/845252_commerce_512x512.png"></a>
        BagShoper
    </h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th><a asp-action=""> Home </a></th>
                    <th><a asp-action="AddProduct"> Add Bag </a></th>
                    <th><a asp-action="ListBags"> Bags </a></th>
                </tr>
            </thead>
        </table>

        <h4>
            The Bag Shopper company provides customers with a huge selection of bags for every taste and color.
        </h4>

        <img width="150" height="200" src="https://a.lmcdn.ru/img236x341/L/E/LE306BMJNFD9_12593035_1_v1.jpg" />
        <img width="150" height="200" src="https://fmagazin.ru/_files/editor/images/pic/aquatic/ryukzaki/ryukzak_aquatic_r_26srd_gorodskoj_sinij_ryzhee_dno_b.jpg" />
        <img width="150" height="200" src="https://avatars.mds.yandex.net/get-mpic/331398/img_id2308654161361234018/13hq" />
    </div>
</body>
</html>
